@page
@{
}
<style>
    a {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
</style>


<div class="container-fluid">
    <div class="col-sm-6 mx-auto">
        <div class="card card-signin bg-dark mt-5 pt-3">
            <div class="card-body">
                <div class="card-header bg-info justify-content-center">
                    <h4 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Top 25 - Most popular games</h4>
                </div>
                <div class="list-group list-group-item-action" id="myList" role="tablist">
                    <a href="#" class="list-group-item bg-secondary">1. Cyberpunk 2077 | Action, RPG | 2020</a>
                    <a href="#" class="list-group-item bg-secondary">2. Grand Theft Auto V | Action, RPG, Shooter | 2015</a>
                    <a href="#" class="list-group-item bg-secondary">3. Wither 3 | RPG, Dark Fantasy | 2016</a>
                    <a href="#" class="list-group-item bg-secondary">4. ...</a>
                    <a href="#" class="list-group-item bg-secondary">5. ...</a>
                    <a href="#" class="list-group-item bg-secondary">6. ...</a>
                    <a href="#" class="list-group-item bg-secondary">7. ...</a>
                    <a href="#" class="list-group-item bg-secondary">8. ...</a>
                    <a href="#" class="list-group-item bg-secondary">9. ...</a>
                    <a href="#" class="list-group-item bg-secondary">10. ...</a>
                    <a href="#" class="list-group-item bg-secondary">11. ...</a>
                    <a href="#" class="list-group-item bg-secondary">12. ...</a>
                    <a href="#" class="list-group-item bg-secondary">13. ...</a>
                    <a href="#" class="list-group-item bg-secondary">14. ...</a>
                    <a href="#" class="list-group-item bg-secondary">15. ...</a>
                    <a href="#" class="list-group-item bg-secondary">16. ...</a>
                    <a href="#" class="list-group-item bg-secondary">17. ...</a>
                    <a href="#" class="list-group-item bg-secondary">18. ...</a>
                    <a href="#" class="list-group-item bg-secondary">19. ...</a>
                    <a href="#" class="list-group-item bg-secondary">20. ...</a>
                    <a href="#" class="list-group-item bg-secondary">21. ...</a>
                    <a href="#" class="list-group-item bg-secondary">22. ...</a>
                    <a href="#" class="list-group-item bg-secondary">23. ...</a>
                    <a href="#" class="list-group-item bg-secondary">24. ...</a>
                    <a href="#" class="list-group-item bg-secondary">25. ...</a>
                </div>
            </div>
        </div>
    </div>
</div>