@page
@{
}
<style>
    a {
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
</style>


<div class="container-fluid">
    <div class="col-sm-7 col-lg-3 mx-auto">
        <div class="card card-signin bg-dark mt-5 pt-1 mx-auto">
            <div class="card-body">
                <div class="card-header bg-info justify-content-center">
                    <h4 style="color:white; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">Top 10 - Most wanted games</h4>
                </div>
                <div class="list-group list-group-item-action text-left" id="myList" role="tablist">
                    <a href="#" class="list-group-item bg-secondary"><h4>1. Cyberpunk 2077</h4>Action, RPG | 2020</a>
                    <a href="#" class="list-group-item bg-secondary"><h4>2. Grand Theft Auto V</h4>Action, RPG, Shooter | 2015</a>
                    <a href="#" class="list-group-item bg-secondary"><h4>3. Wither 3</h4>RPG, Dark Fantasy | 2016</a>
                    <a href="#" class="list-group-item bg-secondary">4. ...</a>
                    <a href="#" class="list-group-item bg-secondary">5. ...</a>
                    <a href="#" class="list-group-item bg-secondary">6. ...</a>
                    <a href="#" class="list-group-item bg-secondary">7. ...</a>
                    <a href="#" class="list-group-item bg-secondary">8. ...</a>
                    <a href="#" class="list-group-item bg-secondary">9. ...</a>
                    <a href="#" class="list-group-item bg-secondary">10. ...</a>
                </div>
            </div>
        </div>
    </div>
</div>