@page

@{
}

<div class="col-sm-6 mx-auto mt-5 pt-3">
    <div class="input-group mb-3">
        <input type="text" class="form-control bg-dark" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" placeholder="Search for a game..." aria-label="Recipient's username">
        <div class="input-group-append">
            <span class="input-group-text bg-info"><i class="fa fa-search"></i></span>
        </div>
    </div>
</div>