@page

@{
}

<script>
    var htmlString = "https://www.igdb.com/search?type=1&q=";
    var searchString = document.getElementById("searchInput").innerText;
    var validSearchString = searchString.split(' ').join('+');

    if (searchString === "") {
        alert
    }

    htmlString += validSearchString;

    function returnSearchString(htmlString) {
        return htmlString;
    }
</script>

<div class="col-sm-6 mx-auto mt-5 pt-3">
    <div class="input-group mb-3">
        <input id="searchInput" type="text" class="form-control bg-dark" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" placeholder="Search for a game..." aria-label="Game searcher using igdb.com site">
        <div class="input-group-append">
            <span class="input-group-text bg-info"><a onclick="" class="fa fa-search" style="color:white;"></a></span>
        </div>
    </div>
</div>

@*
    Przykład wyszukiwarki:
    https://www.igdb.com/search?type=1&q=Cyberpunk+2077
    https://www.igdb.com/search?type=1&q=Devil+May+Cry
*@