@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/fonts.css" />
<div class="text-center">
    <div class="container p-5">
        <div>
            <div>
                <div class="card" style="width:950px; height:400px; margin: auto;">
                    <div class="card-header">
                        <h4 style="color:black">Top 10 - Najpopularniejsze gry</h4>
                    </div>
                    <div class="card-body">
                        <canvas id="chDonut1"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
