@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/fonts.css" />
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Get to know the most popular games within this month using this site!</p>
</div>
