<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.web>
    </system.web>
	<connectionStrings>
		<add name="MySQLConnectionString"
		providerName="MySql.Data.MySqlClient"
		connectionString="server=localhost;port=3306;database=gamesrankdb;user=user;password=password;" />
	</connectionStrings>
</configuration>