.page-holder {
    min-height: 100vh;
}

.bg-image {
    background: url(https://lh3.googleusercontent.com/fife/ABSRlIoGXR6vKWfcx_gJFTPP7UfEIBFtul33phTBjvGcjwrI82NSjnPDbo3wXAP7PonO_qk597e1Cqld8wkJFHfM6pla8-5_LTwcrBbokHxthArr3KGlWIHl4YVm_UMUHY7of34W4akGUC89u4dnzvXHm5gtMPStUkJGynJMkVdr1McUXL0HGKfhG9DLg1VBm0u6p534dsdaCmKEm9OrU_0SOSPsQidGSuUXzXcGT4vlh0ck4EBPPqJVtr_HpegTh5E0_Dp8hj_JHpISn7p_1iHrsvoFHer7wYHkUveHyUaCPXNYcgTYVvFXFdppbXfzXDwlELDlEnSOqlUMoC_MX9a5fUDKlxwtlbwBb-EODOAuW8E0CmdGfOMzuOP2w9-CQ-AbHbBRQMXVf2kTYi3DL73HZTJxm1xdeDJLLUhwWTjpeIsFxhjPRXz3beK0XgvO7ehTwLEkufk9i6ltSqYqxace1bSOzUJW7on50mQd-6Wijel8FWcIjvsn6D6RRFL8SK_KCBE3FMX1Da-XNG2KRh7IXFJzgI4C2Q2ySi5y97aPZOreWXl-SkSXzvA5ASugrHmJnWNRk4T3dW77i6pSeq9vOeEscVJsIJIvXviXSuiItA9YmgNiMjQOyAyciQRG3RHzVC7w97wBz-mlz88NqHmSz-ffJLVfGjYPkFmK09W9G7kvujDLasgjksBsTIGXmgsSrcmWM59VsZ1PL_Dxe3bs78zBJRzFDG4hPkc=w1879-h949-ft);
    background-size: 950px;
}
