<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ranking Gier</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <script src="https://kit.fontawesome.com/298363b29f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
@RenderSection("Styles", required: false) 

<body class="page-holder bg-cover" style="background: url(https://static.vecteezy.com/system/resources/previews/000/338/627/original/joystick-vector-seamless.jpg) fixed center; background-size: 700px">
    <header>
        <partial name="_navbar" />
    </header>
    <div class="container-fluid pt-2">
        <main role="main" class="pt-5 pb-4">
            @RenderBody()
        </main>
    </div>

    <footer class="page-footer font-small text-white">
        <div class="footer text-center py-3" style="text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
            © 2020 - Games Rank
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
